#app{
	height:100%; 
	display:flex;
	body, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, a, img, input, figure, figcaption, p {
	padding: 0;
	margin: 0;
	}
	body,html{
		height:100%;
	}
	* {
		box-sizing: border-box;
	}
	ul, ol {
		list-style: none;
	}
	body {
		font: 12px/1.5 "微软雅黑";
		background: #efefef;
	}
	a {
		text-decoration: none;
		// color: #FFF;
	}
	a:hover {
		color: #3e3e3e;
		text-decoration: none;
	}
	img {
		border: 0;
		display: block;
	}
	input {
		outline: none;
	}
	body, html {
		height: 100%;
	}
	header, nav, main, section, article, footer, figure, figcaption {
		display: block;
	}
	li{
		list-style:none;
	}
	header {
	width: 100%;
    // height: 2.8125rem;
    line-height: 2.8125rem;
    background: #de3031;
    position:fixed;
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    z-index: 1001;
    p{
    height: 85px;
    line-height:85px;
    color: #fff;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    font-weight: 700;
    /* line-height: 2.8125rem; */
    text-align: center;
    font-size: 35px;
    // -webkit-box-flex: 1;
    // -ms-flex: 1;
    }
    #headNav{
    			width:100%;
    			height:200px;
    			position:fixed;
    			top:1px;
    			text-align: center;
    			transition:all .2s;
    			transform-origin: top;
    			// transform:scaleY(0);
    			background:#fff;
    			
    		}
            nav{
                position: fixed;
                width: 100%;
                height: 15%;
                transform-origin: top;
                top:0px;
                margin-top:84px;
                background-color:#fff;
                z-index: 5;
                ul{
                    color:#3d3d3d;

                    a{
                        text-decoration: none;
                        color:#3d3d3d;
                            height:30px;
                        &:visited{
                            color:#3d3d3d;
                            height:30px;
                        }
                        &:link{
                            color:#3d3d3d;
                        }
                    }
                }
            }
    		ul{
    			display: flex;
    			flex-direction:row;
    			width:100%;
    			height:100%;
    			list-style: none;
    		}
    		li{
    			flex:1;
    			align-items:center;/*垂直居中*/
    			flex-direction:column;
    			display: flex;
    			float: left;
    			border:2px solid #ccc;
    			font-size:30px;
    			padding-top:15px;
    			cursor:pointer;

    		}
    		i{
    			margin:0 auto;
    			zoom:1.5;
    		}
    		a{
    			margin-top:-245px;
    		}
    		.pic1{
    			background:url(../../assets/img/header_down_menu.png) no-repeat;
    			background-position: 0px 0px;
    			width:68px;
    			height:75px;
    			display: block;
    		}
    		.pic2{
    			background:url(../../assets/img/header_down_menu.png) no-repeat;
    			background-position: 0px -80px;
    			width:68px;
    			height:75px;
    			display: block;
    		}
    		.pic3{
    			background:url(../../assets/img/header_down_menu.png) no-repeat;
    			background-position: 0px -154px;
    			width:68px;
    			height:75px;
    			display: block;
    		}
    		#addIcon{
    			position:absolute;
    	    	top:9px;
    	    	right:20px;
    	    	display: block;
    	    	height:37px;
    	    	width:36px;
    	    	zoom:1.5;
    	    	transition: .2s ;
    	    	background:url(../../assets/img/download.png);
    	    	cursor: pointer;
                z-index:99px;
    		}
}    

section{
		    padding: 85px 0 0;
		    width: 100%;
		    flex: 1;
		    // overflow: auto;

	}
	footer{
		    width: 100%;
    		height: 0.625rem;
    		display: block;
    		background:#fff;
    		position:fixed;
    		bottom:0;

    		ul{
    			    width: 100%;
				    height: 99px;
				    display: flex;
				    flex-wrap: wrap;
				    justify-content: space-around;
			    li{
			    	font-size:17px;
			    	width: 25%;
				    height: 99px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    flex-direction: column;
				    i{
				    display: block;
				    width: 100%;
				    height: 50%;
				    font-size: 50px;
				        text-align: center;
				    }
				    .suiyi{ 
				    	color:#de3031;
				    	a{
				    		text-decoration:none;
				    		text-align: center;
				    		padding-top: 12px;
    						padding-left: 12px;
    						font-size: 25px;
	    				&:visited{
	    					color:#fff;
	    				}
	    				&:link{
	    					color:#fff;
	    				}
				    	
				    	}

				    }
			    }
    		}

	}
	
}
.show{
    // display: block;
    animation:kerwinshow 1s both;

}


@keyframes kerwinshow{
    from{
        transform: scaleY(0);
        opacity: 0;
    }

    to{
        transform: scaleY(1); 
        opacity: 1;
    }
}

.hide{
    // display:none;
    animation:kerwinhide 1s both;

}

@keyframes kerwinhide{
    from{
        transform: scaleY(1);
        opacity: 1;
    }

    to{
        transform: scaleY(0);   
        opacity: 0;
    }
}
